@charset "UTF-8";

*{
  outline : 1px solid green;
}

.grid-container {
  display : grid;
  /* 단위는 여러가지로 설정 가능 : px, %, fr 등 */
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  /* grid-gap : 10px; */

  grid-template-areas: 
   "header header header header"
   "side . . ."
   "side . . ."
  ;
}

.grid-container div {
  border : 1px solid black;
}

/* 방법1 */
.grid-nav {
  /* 세로선 1부터 5까지 차지 */
  /* grid-column: 1/5; */
  /* 가로선 1부터 3까지 차지 */
  /* grid-row : 1/3; */
}

.grid-sidebar {
  /* grid-row: 2/4; */
}

/* 방법2 */
.grid-nav {
  grid-area : header;
}

.grid-sidebar {
  grid-area : side;
}