.flex-container {
  height: 500px;
  display:flex;
  /* justify-content: center; */
  /* flex-direction: column; */
  /* flex-wrap:wrap; */
  /* align-items: center; */
}

.flex-item {
  width: 100px;
  height: 100px;
  background-color: grey;
  margin:5px;
}


* {
  margin:0;
  padding:0;
}

a {
  color:white;
  text-decoration: none;
}

.navbar {
  background-color: skyblue;
  color:white;
  width: 100%;
  height: 75px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  margin-left : 20px;
}

.menu {
  font-size: 18px;
  margin-right: 20px;
}

.menu span {
  margin-left : 5px;
}

/* flex 사용하지 않고 navbar 만들기 */
.navbar2 {
  background-color: pink;
  color:white;
  width: 100%;
  height: 75px;
}

.logo2 {
  float: left;
  font-size: 26px;
  font-weight: bold;
  margin-left : 10px;
}

.products {
  float:right;
  font-size: 18px;
  margin-right:10px;
}

.services {
  float:right;
  font-size: 18px;
}

.item {
  height: 100%;
}

.item a {
  display: block;
  height: 100%;
  line-height: 75px;
  padding : 0 10px;
}
